<app-form [btnDefault]="false" title="Crie sua conta">
    <form #form="ngForm" (submit)="create(form)">
        <mat-form-field appearance="outline" class="account-input">
            <mat-label class="label">Nome</mat-label>
            <input matInput ngModel name="first_name" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="account-input">
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="email" name="ee" [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                placeholder="Ex. pat@example.com" required>
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Insira um email válido
            </mat-error>
        </mat-form-field>


        <mat-form-field appearance="outline" class="account-input">
            <mat-label class="label">Senha</mat-label>
            <input matInput ngModel name="password" [type]="hide ? 'password' : 'text'" required>
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon class="olho">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
        <mat-form-field appearance="outline" class="account-input">
            <mat-label class="label">Confirmar Senha</mat-label>
            <input matInput ngModel name="password2" [type]="hide2 ? 'password' : 'text'" required>
            <button type="button" mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide2">
                <mat-icon class="olho">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>

        <div class="form-button">
            <a mat-button routerLink="/" routerLinkActive="router-link-active" class="button"
                color="primary">Cancelar</a>
            <button class="button" mat-raised-button color="primary"
                [disabled]="!form.valid || emailFormControl.hasError('email') || emailFormControl.hasError('required')">Confirmar</button>
        </div>

    </form>
</app-form>