<app-form title="Nova Consulta" [btnDefault]=false>
    <form #f="ngForm" (submit)="marcarConsulta(f)">
        <mat-form-field class=" account-input" appearance="outline">
            <mat-select placeholder="Especialidade" ngModel name="especialidade" required
                [disabled]="especialidades.length <= 0" (ngModelChange)="handleEspecialidade($event)">
                <mat-option value="{{ep.id}}" *ngFor="let ep of especialidades">{{ep.nome}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="account-input" appearance="outline">
            <mat-select placeholder="Médico" ngModel name="medico" [disabled]="medicos.length <= 0" required
                (ngModelChange)="handleMedicos($event)">
                <mat-option value="{{medico.id}}" *ngFor="let medico of medicos">{{medico.nome}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="account-input" appearance="outline">
            <mat-select placeholder="Data" [disabled]="datas.length <= 0" ngModel name="data"
                (ngModelChange)="handleData($event)" required>
                <mat-option [value]="data" *ngFor="let data of datas">{{data.data | date:'dd/MM/yyyy'}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="account-input" appearance="outline">
            <mat-select placeholder="Hora" [disabled]="horarios.length <= 0" ngModel name="horario" required
                (ngModelChange)="handleHorario($event)">
                <mat-option value="{{horario}}" *ngFor="let horario of horarios">{{horario}}</mat-option>
            </mat-select>
        </mat-form-field>
        <div class="form-button">
            <a mat-button (click)="goBack()" class="button" color="primary">Cancelar</a>
            <button class="button" mat-raised-button color="primary"
                [disabled]="!f.valid || datas.length <= 0 || horarios.length <= 0 ">Confirmar</button>
        </div>
    </form>
</app-form>