<table>
    <thead>
        <tr>
            <td>ESPECIALIDADE</td>
            <td>PROFISSIONAL</td>
            <td>DATA</td>
            <td>HORA</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let consulta of consultas">
            <td>{{ consulta.medico.especialidade.nome }}</td>
            <td>{{ consulta.medico.nome }}</td>
            <td>{{ consulta.dia }}</td>
            <td>{{ consulta.horario }}</td>
            <td class="btn-desmarcar">
                <a mat-button color="primary">
                    <mat-icon class="icon">clear</mat-icon><span style="display: inline-block;">Desmarcar</span>
                </a>
            </td>
        </tr>
    </tbody>
</table>