<table>
    <thead>
        <tr>
            <td>ESPECIALIDADE</td>
            <td>PROFISSIONAL</td>
            <td>DATA</td>
            <td>HORA</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Cardiologia</td>
            <td>Dr. Carlos Ferreira</td>
            <td>03/06/2020</td>
            <td>13:00</td>
            <td class="btn-desmarcar">
                <a mat-button color="primary">
                    <mat-icon class="icon">clear</mat-icon><span style="display: inline-block;">Desmarcar</span>
                </a>
            </td>
        </tr>
        <tr>
            <td>Cardiologia</td>
            <td>Dr. Carlos Ferreira</td>
            <td>03/06/2020</td>
            <td>13:00</td>
            <td class="btn-desmarcar">
                <a mat-button color="primary">
                    <mat-icon class="icon">clear</mat-icon><span style="display: inline-block;">Desmarcar</span>
                </a>
            </td>
        </tr>
        <tr>
            <td>Cardiologia</td>
            <td>Dr. Carlos Ferreira</td>
            <td>03/06/2020</td>
            <td>13:00</td>
            <td class="btn-desmarcar">
                <a mat-button color="primary">
                    <mat-icon class="icon">clear</mat-icon><span style="display: inline-block;">Desmarcar</span>
                </a>
            </td>
        </tr>
        <tr>
            <td>Cardiologia</td>
            <td>Dr. Carlos Ferreira</td>
            <td>03/06/2020</td>
            <td>13:00</td>
            <td class="btn-desmarcar">
                <a mat-button color="primary">
                    <mat-icon class="icon">clear</mat-icon><span style="display: inline-block;">Desmarcar</span>
                </a>
            </td>
        </tr>
    </tbody>
</table>